.memo_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
  min-height: 200px;
  border-radius: 10px;
}

.memo_status {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 15px;
}

.memo_item {
  position: relative;
  width: 200px;
  min-height: 150px;
  background-color: #fff9b1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

.memo_item:hover {
  transform: scale(1.03) rotate(0deg);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}

.memo_item h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #333;
}

.memo_item p {
  font-size: 0.95rem;
  color: #555;
}
.memo_item button {
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.memo_actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 6px;
}

.edit_btn {
  background: #82b883;
}

.delete_btn {
  background: #ff6961;
}
